<ion-view title="Activity Settings" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <h3 id="activitySettings-heading8" style="color:#000000;text-align:center;">Select up your activity!</h3>
        <ion-list>
            <ion-item ui-sref="activityInProgress">Mile End Loop</ion-item>
            <ion-item ui-sref="activityInProgress">Victoria Park Loop</ion-item>
            <ion-item ui-sref="activityInProgress">Stepney Green Loop</ion-item>
        </ion-list>
        <form class="list"></form>
        <div style="margin-right:-20px;">
            <a ui-sref="activityInProgress" id="activitySettings-button4" style="left:-10px;font-weight:600;" class="button button-positive button-large button-full">Ready? Lets go!</a>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>