<ion-view title="Activity 2: Details" id="page10">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <div>
                <center>
                    <h3>Activity 2</h3>
                </center>
            </div>
        </div>
        <h3 id="activity2Details-heading21" style="color:#000000;">Date</h3>
        <h3 id="activity2Details-heading18" style="color:#000000;">Distance</h3>
        <h3 id="activity2Details-heading19" style="color:#000000;">Time</h3>
        <h3 id="activity2Details-heading20" style="color:#000000;">Calories</h3>
    </ion-content>
</ion-view>