<ion-view title="Dashboard" id="page2">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 68px;"></div>
        <div style="text-align:center;">
            <img src="img/uG8t0espTqKZ1ovqKp5w_exerseyes.png" width="100%" height="auto">
        </div>
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <div>
            <center>
                <h2>Welcome Back! {{}}</h2>
                <h3>To date you have completed {{ km }} km.
                </h3>



            </center>
        </div>
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="activitySettings" id="dashboard-button2" style="left:-10px;font-weight:600;" class="button button-positive button-large button-full">Lets Start!</a>
        </div>
    </ion-content>
</ion-view>