<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-positive tabs-icon-left">
        <ion-tab title="Dashboard" icon="No Icon" href="#/dashboard/tab1/dashboard">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Past Activity" icon="No Icon" href="#/dashboard/past-activity">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Settings" icon="No Icon" href="#/dashboard/settings">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>